<%- include('./partials/head.ejs') %>

<div class="page-header">
  <h1 class="large-heading"><%= squad.name %></h1>
</div>
<ul class="member-cards">
  <%- include('./partials/member-card.ejs', {member: { avatar: './placeholder.jpg', name: 'Jouw kaartje hier?', url: `/member/new?squad=${squad.id}&`, linkText: 'Voeg een nieuw kaartje toe'}}) %>
  <% squad.members.forEach(member => { %>
    <%- include('./partials/member-card.ejs', { member: {...member, url: `/member/?id=${member.id}&`, linkText: `Bekijk ${member.name} in detail`} }) %>
  <% }) %>
</ul>
<%- include('./partials/foot.ejs') %>